.modalContainer {
    .customModalButton {
        color: white;
        background-color: black;
        border: 1px solid rgb(104, 103, 103);
    }
    .customInputField {
        background-color: rgb(37, 37, 37);
        color: white;
    }
}