// .perfectCentering {
//     width: 100%;
//     position: relative;
//     z-index: 1;
//     position: absolute;
//     top: 50%;
//     left:50%;
//     transform: translate(-50%,-50%);
//   }


.cover {
    //background: #222 url('https://unsplash.it/1920/1080/?random') center center no-repeat;
    background: linear-gradient(to bottom,#191919 0,#000 100%) no-repeat #000;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.coverCaption {
    width: 100%;
    position: relative;
    z-index: 1;
}

/* only used for background overlay not needed for centering */
form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background: linear-gradient(to bottom,#191919 0,#000 100%) no-repeat #000;
    // background: rgb(58, 58, 58);
    box-shadow: 0 0 20px 1px rgba(100, 100, 100, 0.6);
    // background-color: rgba(0,0,0,0.3);
    z-index: -1;
    border-radius: 10px;
}
