<div class="card">
    <h5 class="card-header text-center">Register</h5>
    <div class="card-body">
        <div *ngIf="message" [ngClass]="message.cssClass">{{message.text}}</div>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>First name</label>
                    <input class="form-control" type="text" formControlName="firstName"
                        [ngClass]="{ 'is-invalid': submitted && formControls.firstName.errors }">
                    <div *ngIf="submitted && formControls.firstName.errors" class="invalid-feedback d-block">
                        <div *ngIf="formControls.firstName.errors.required">First name is required</div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label>Last name</label>
                    <input class="form-control" type="text" formControlName="lastName"
                        [ngClass]="{ 'is-invalid': submitted && formControls.lastName.errors }">
                    <div *ngIf="submitted && formControls.lastName.errors" class="invalid-feedback d-block">
                        <div *ngIf="formControls.lastName.errors.required">Last name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" placeholder="dd-mm-yyyy" name="dp" formControlName="birthDate"
                        ngbDatepicker #d="ngbDatepicker"
                        [ngClass]="{ 'is-invalid': submitted && formControls.birthDate.errors }">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary fa fa-calendar" (click)="d.toggle()"
                            type="button"></button>
                    </div>
                </div>
                <div *ngIf="submitted && formControls.birthDate.errors" class="invalid-feedback d-block">
                    <div *ngIf="formControls.birthDate.errors.required">Birthdate is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && formControls.email.errors }">
                <div *ngIf="submitted && formControls.email.errors" class="invalid-feedback d-block">
                    <div *ngIf="formControls.email.errors.required">Email is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }">
                <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback d-block">
                    <div *ngIf="formControls.password.errors.required">Password is required</div>
                    <div *ngIf="formControls.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group float-right">
                <a routerLink="/login" class="btn btn-link mr-3">Login</a>
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
        </form>
    </div>
</div>