<section class="min-vh-100 cover">
    <div class="coverCaption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h3>Cinema app</h3>
                    <div class="">
                        <form [formGroup]="registerForm" (ngSubmit)="register()">
                            <div class="form-row">
                                <div class="form-group col-md-6 text-left">
                                    <label>First name</label>
                                    <input class="form-control customInput" type="text" formControlName="firstName"
                                        [ngClass]="{ 'is-invalid': submitted && formControls.firstName.errors }">
                                    <div *ngIf="submitted && formControls.firstName.errors"
                                        class="invalid-feedback d-block">
                                        <div *ngIf="formControls.firstName.errors.required">First name is required</div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 text-left">
                                    <label>Last name</label>
                                    <input class="form-control customInput" type="text" formControlName="lastName"
                                        [ngClass]="{ 'is-invalid': submitted && formControls.lastName.errors }">
                                    <div *ngIf="submitted && formControls.lastName.errors"
                                        class="invalid-feedback d-block">
                                        <div *ngIf="formControls.lastName.errors.required">Last name is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group text-left">
                                    <input class="form-control customInput" placeholder="dd-mm-yyyy" name="dp"
                                        formControlName="birthDate" ngbDatepicker #d="ngbDatepicker"
                                        [ngClass]="{ 'is-invalid': submitted && formControls.birthDate.errors }">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary fa fa-calendar" style="color: white;" (click)="d.toggle()"
                                            type="button"></button>
                                    </div>
                                </div>
                                <div *ngIf="submitted && formControls.birthDate.errors"
                                    class="invalid-feedback d-block">
                                    <div *ngIf="formControls.birthDate.errors.required">Birthdate is required</div>
                                </div>
                            </div>
                            <div class="form-group text-left">
                                <label>Email</label>
                                <input class="form-control customInput" type="text" formControlName="email"
                                    [ngClass]="{ 'is-invalid': submitted && formControls.email.errors }">
                                <div *ngIf="submitted && formControls.email.errors" class="invalid-feedback d-block">
                                    <div *ngIf="formControls.email.errors.required">Email is required</div>
                                </div>
                            </div>
                            <div class="form-group text-left">
                                <label>Password</label>
                                <input class="form-control customInput" type="password" formControlName="password"
                                    [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }">
                                <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback d-block">
                                    <div *ngIf="formControls.password.errors.required">Password is required</div>
                                    <div *ngIf="formControls.password.errors.minlength">Password must be at least 6
                                        characters
                                    </div>
                                </div>
                            </div>
                            <div class="form-group float-right">
                                <a routerLink="/login" class="btn btn-link mr-3 customLink">Login</a>
                                <button [disabled]="loading" class="btn customSubmitButton" type="submit">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    Register
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>