.footerContainer {
    padding-right: 50px;
    padding-left: 50px;
    .imageContainer {
        overflow: hidden;
        cursor: pointer;
        img {
            transition: transform .5s ease;
        }
        :hover {
            transform: scale(1.05);
        }
    }
}
@media only screen and (max-width: 725px) {
    .footerContainer {
        padding-right: 25px;
        padding-left: 25px;
        .homeContainer {
            .customSearch {
                width: 95%;
            }
        }
    }
}