<div id="carouselExampleIndicators" class="animated fadeIn carousel slide carouselWrapper" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item customPicture active">
            <img class="d-block w-100" [src]="movies[0].backdrop" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h4>{{ movies[0].title}}</h4>
            </div>
        </div>
        <div class="carousel-item customPicture">
            <img class="d-block w-100" [src]="movies[1].backdrop" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h4>{{ movies[1].title}}</h4>
            </div>
        </div>
        <div class="carousel-item customPicture">
            <img class="d-block w-100" [src]="movies[2].backdrop" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h4>{{ movies[2].title}}</h4>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>