.customTimeButton {
    color: white;
    border: 0.6px solid white;
    
}
.selected {
    color: black;
    background-color: white;
}

::ng-deep  .customTab .nav-tabs .nav-link.active
{
    color:black;
}
::ng-deep .customTab .nav-tabs .nav-link
{
    color:white;
}