<header>
  <nav *ngIf="currentUser" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <i class="fa fa-film" style="color: white; font-size: 20px;" href="/home"></i>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Movies <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <!-- Only admins can access this page -->
        <div class="nav-item dropdown" *ngxPermissionsOnly="['admin']">
          <button class="btn btn-outline-secondary nav-link dropdown-toggle mr-4" href="#" id="navbarAdministrationUsers"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administration
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarAdministrationUsers">
            <button class="btn btn-default dropdown-item" (click)="goToAdministrationUsers()">
              <i class="fa fa-user"></i>
              Users
            </button>
          </div>
        </div>
        <div class="nav-item dropdown">
          <button class="btn btn-outline-secondary nav-link dropdown-toggle" href="#" id="navbarUsersInformation"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i>
            {{ currentUser.firstName }}
          </button>
          <div class="dropdown-menu" aria-labelledby="navbarUsersInformation">
            <button class="btn btn-default dropdown-item" (click)="logout()">
              <i class="fa fa-sign-out"></i>
              Logout
            </button>
          </div>
        </div>
      </form>
    </div>
  </nav>
</header>

<main role="main">
  <router-outlet></router-outlet>
  <footer class="text-center text-white pt-4">
    Movie app
  </footer>
</main>