.homeContainer {
    .imageContainer {
        overflow: hidden;
        cursor: pointer;
        img {
            transition: transform .5s ease;
        }
        :hover {
            transform: scale(1.05);
        }
    }
    .customSearch {
        width: 25%;
        background-color: black;
        margin-left: 15px;
        margin-bottom: 20px;
        color: rgb(184, 184, 184);
    }
}
@media only screen and (max-width: 725px) {
    .homeContainer {
        .customSearch {
            width: 95%;
        }
    }
  }